<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<header><a>For</a>Chim</header>
<div id="main-part">
    <h2>Registration</h2>
    <form th:action="@{/register}" th:method="post" th:object="${user}">
        <div class="form-component">
            <label for="email">Email</label>
            <input th:field="*{email}" id="email" name="email" type="text">
        </div>
        <div class="form-component">
            <label for="firstName">First Name</label>
            <input th:field="*{firstName}" id="firstName" name="firstName" type="text">
        </div>
        <div class="form-component">
            <label for="secondName">Second Name</label>
            <input th:field="*{secondName}" id="secondName" name="secondName" type="text">
        </div>
        <div class="form-component">
            <label for="password">Password</label>
            <input th:field="*{password}" id="password" name="password" type="password">
        </div>
        <button class="form-submit" type="submit">Register</button>
    </form>
    <h3>Already have an account <a th:href="@{/login}">Login</a>!</h3>
</div>
</body>
</html>