<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<header><a>For</a>Chim</header>
<div id="main-part">
    <div class="form-component">
        <label for="email">Email</label>
        <div class="input-wrapper">
            <input id="email" name="email" type="text">
            <a id="send-link" href="#">
                <svg width="50px" height="50px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M44 24V9H24H4V24V39H24" stroke="#000000" stroke-width="4" stroke-linecap="round"
                          stroke-linejoin="round"/>
                    <path d="M44 34L30 34" stroke="#000000" stroke-width="4" stroke-linecap="round"
                          stroke-linejoin="round"/>
                    <path d="M39 29L44 34L39 39" stroke="#000000" stroke-width="4" stroke-linecap="round"
                          stroke-linejoin="round"/>
                    <path d="M4 9L24 24L44 9" stroke="#000000" stroke-width="4" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
    </div>
    <h3>Write your email to receive the letter with the recovery link</h3>
</div>
<h3 class="hidden-part">Mail with the recovery link was sent to your email address please check your inbox</h3>
<script th:src="@{js/reset-password.js}"></script>
</body>
</html>