<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<header><a>For</a>Chim</header>
<div id="main-part">
    <form th:action="@{/reset/{token}(token=${token})}" th:method="post">
        <div class="form-component">
            <label for="password">Password</label>
            <input id="password" name="password" type="password">
        </div>
        <div class="form-component">
            <label for="repeat-password">Repeat Password</label>
            <input id="repeat-password" name="repeat-password" type="password">
        </div>
        <button class="form-submit change-password" type="submit">Change Password</button>
    </form>
</div>
</body>
</html>